In [1]:
import pandas as pd
import numpy as np
import os

os.chdir('C:\\Users\\Administrator\\Desktop\\JC数据集')

#### 整理不易，欢迎关注作者公众号：数据不吹牛
## 场景一
#### 导入成绩表

In [2]:
score = pd.read_excel('apply案例数据.xlsx',sheetname = '成绩表')
score.head(6)

   姓名  科目  综合成绩
0  李华  一模   651
1  李华  二模   579
2  李华  三模   580
3  王雷  一模   475
4  王雷  二模   455
5  王雷  三模   432

#### 得到每位同学最高成绩

In [3]:
max_score = score.groupby('姓名')['综合成绩'].apply(max).reset_index()
max_score

    姓名  综合成绩
0  张建国   691
1   李华   651
2  李子明   577
3   王雷   475

#### 得到每位同学最低成绩

In [4]:
min_score = score.groupby('姓名')['综合成绩'].apply(min).reset_index()
min_score

    姓名  综合成绩
0  张建国   553
1   李华   579
2  李子明   490
3   王雷   432

#### 两表合并

In [16]:
score_combine = pd.merge(max_score,min_score,left_on = '姓名',right_on = '姓名',how = 'inner')
score_combine.columns = ['姓名','最好成绩','最差成绩']
score_combine

    姓名  最好成绩  最差成绩
0  张建国   691   553
1   李华   651   579
2  李子明   577   490
3   王雷   475   432

## 场景二

In [7]:
order = pd.read_excel('apply案例数据.xlsx',sheetname = '省市销售数据')
order.head()

    省份   城市  近1月销售额
0   重庆  重庆市  255343
1  浙江省  金华市  302624
2  浙江省  台州市  147853
3  浙江省  舟山市  136547
4  浙江省  杭州市  109073

#### 信息概览

In [8]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
省份        210 non-null object
城市        210 non-null object
近1月销售额    210 non-null int64
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

#### 按省份销售额进行排序

In [10]:
order_rank = order.sort_values(['省份','近1月销售额'],ascending = False)

#### 分组并传入指定列

In [12]:
order_rank.groupby('省份')[['城市','近1月销售额']]

#### 定义筛选规则函数

In [14]:
def get_third(x):
    #如果分组长度小于等于1，意味着直辖市
    if len(x) <= 1:
        #返回第0行的所有值，即直辖市本身
        return x.iloc[0,:]
    
    #针对非直辖市
    else:
        #直接返回第3行（排名第3，索引是2）所有值（城市，近1月销售额）
        return x.iloc[2,:]

#### apply应用，返回结果

In [15]:
order_rank.groupby('省份')[['城市','近1月销售额']].apply(get_third)

          城市  近1月销售额
省份
上海       上海市  139261
云南省      昆明市  203210
内蒙古自治区   兴安盟  258106
北京       北京市  154682
四川省      达州市  427285
天津       天津市  510720
安徽省      合肥市  179518
山东省      菏泽市  187375
山西省      临汾市  186931
广东省      肇庆市  321218
江苏省      镇江市  139625
江西省      南昌市  141011
河北省      邯郸市  127017
河南省      焦作市  151812
浙江省      舟山市  136547
湖北省      襄阳市  194910
湖南省      长沙市  163263
甘肃省      天水市  119378
福建省      莆田市  209084
辽宁省     葫芦岛市  392363
重庆       重庆市  255343
陕西省      安康市   60456